<h1>New Gatherer</h1>

<%= form_for(@gatherer) do |f| %> <%= f.label(:name) %>
	<%= f.text_field(:name) %>
	<br />
	<%= f.label(:tasks) %>
	<%= text_area_tag("gatherer[tasks]") %> <br />
	<%= f.submit %>
<% end %>
